.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-items{
    display: flex;
}

.nav-items > li{
 list-style: none;
 margin-right: 1rem;
}

.nav-items > li > a{
    color: #333;
}

.nav-item.active{
    color: #f4ce14;
}